<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tdshop.demo">

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <meta-data
      android:name="com.tdshop.android.ApplicationId"
      android:value="myshop"/>

    <meta-data
      android:name="com.tdshop.android.IsDebugEnabled"
      android:value="true"/>

    <activity android:name=".TDCustomShowActivity"/>

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".TDBannerShowActivity"/>
    <activity android:name=".TDIconShowActivity"/>
    <activity android:name=".TDBannerListActivity"/>
    <activity android:name=".TDMultiCustomShowActivity"/>
  </application>

</manifest>